# Lists

---

### 1. Lists are mutable vs Strings are immutable

**mutable means that you can change the value after setting but immutable means that you can't change that value**

In [1]:
str1 = "Ahmed Omar"
str1[0] = "a"

TypeError: 'str' object does not support item assignment

In [2]:
list1 = [1,2,3,4,5]
list1[0] = "ahmed"
print(list1)

['ahmed', 2, 3, 4, 5]

---

**2.we use len() function to get the length of both string and lists**

In [ ]:
print(len(str1))
print(len(list1))

10
5

---

**3. range() function  returns a list from 0 up to but not including the number**

In [3]:
friends = ["ahmed","mohammed","hossam"]
for i in range(len(friends)):
    print('Happy New Year',friends[i])

Happy New Year ahmed
Happy New Year mohammed
Happy New Year hossam

---

**4. slicing lists**

In [4]:
friends

['ahmed', 'mohammed', 'hossam']

In [ ]:
friends[:2]

['ahmed', 'mohammed']

In [ ]:
friends = ["ahmed","mohammed","sayed","nourhan","khadiga","zahraa","doaa","nadia","om kalthoum","abdelhalim","roqia"]

In [12]:
friends[1:3]

['mohammed', 'sayed']

In [13]:
friends[:4]

['ahmed', 'mohammed', 'sayed', 'nourhan']

In [14]:
friends[3:]

['nourhan',
 'khadiga',
 'zahraa',
 'doaa',
 'nadia',
 'om kalthoum',
 'abdelhalim',
 'roqia']

In [15]:
friends[5:]

['zahraa', 'doaa', 'nadia', 'om kalthoum', 'abdelhalim', 'roqia']

In [16]:
friends[:]

['ahmed', 'mohammed', 'hossam', 'somia']

---

**5. append() function and some operations**

In [17]:
friends.append("nourhan")

In [18]:
friends

['ahmed', 'mohammed', 'hossam', 'somia', 'nourhan']

In [15]:
nums = [1,2,5,0,100]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

5
100
0
108
21.6

---

In [21]:
nums = []
while True:
    inp =input("Please Enter a Number: ")
    if inp =="done":break
    inp = float(inp)
    nums.append(inp)

average = sum(nums)/len(nums)
print(average)

20.0

---

**split() function**

In [22]:
str3 = "I like playing Football"
str3.split()

['I', 'like', 'playing', 'Football']

In [23]:
for word in str3.split():
    print("we found a word :",word)

we found a word : I
we found a word : like
we found a word : playing
we found a word : Football

---

**split() function treats more than white spaces as a single white space**

In [25]:
name = "ahmed                      omar"
name.split()

['ahmed', 'omar']

---

**You can specify another delimiter**

In [26]:
name = "ahmed*omar*abdel-hakim*morsi"
print(name.split())
print(name.split("*"))

['ahmed*omar*abdel-hakim*morsi']
['ahmed', 'omar', 'abdel-hakim', 'morsi']

---

In [16]:
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
for line in fh:
    line = line.rstrip()
    word = line.split()
    for ele in word:
        if ele in lst:
            continue
        else:
            lst.append(ele)

lst.sort()
print(lst)

['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

In [7]:
len(lst)

33